# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore c++ build output directory
.cxx

# Ignore VS Code files
.vscode/*
!.vscode/c_cpp_properties.json
